* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F6F8F9;
}

header {
  background-color: #FFFFFF;
  height: 80px;
  padding: 10px 20px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.logo-text {
  font-weight: 900;
  font-size: 40px;
  vertical-align: middle;
}

.container {
  background-color: #FFFFFF;
  width: 80%;
  margin: 40px auto;
  border-radius: 5px;
  padding: 10px 40px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.btn a {
  text-decoration: none;
}

.clickable {
  background-color: #47ADF1;
  border: 1px solid #47ADF1;
  color: #FFFFFF;
}

.clickable a {
  color: #FFFFFF;
}

.non-clickable {
  background-color: #FFFFFF;
  border: 1px solid #D5DADD;
  color: #D5DADD;
}

.non-clickable a {
  color: #D5DADD;
}

.container .top {
  border-bottom: 10px solid #F6F8F9;
  padding: 0;
}

.container .tasks {
  padding: 20px 50px;
}

li {
  list-style: none;
  padding: 10px 0;
}

li h3::before {
  content: '\25BE  ';
}

li .circle::before {
  display: inline-block;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 15px;

  margin-right: 10px;
  font-size: 10px;
  text-align: center;
}

li .circle.checked::before {
  content: '\2713';
  border: 1px solid #2CC6AB;
  color: #2CC6AB;
}

li .circle.delete::before {
  content: '\2573';
  border: 1px solid #FF0000;
  color: #FF0000;
}

.tag {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
  color: #FFFFFF;
}

.tag-type-editorial {
  background-color: #09a9ed;
}

.tag-type-goals {
  background-color: #ab5de6;
}

.tag-type-recruting {
  background-color: #2cc6ab;
}

.tag-type-mobile {
  background-color: #ff9b00;
}

.tag-type-website {
  background-color: #ec4a9d;
}

.tag-type-sales {
  background-color: #a3d116;
}






























/* main h3 {
  padding-top: 3%;
}

.container p {
  padding-bottom: 1%;
}

.check .cross {
  border 2px solid #65C0AA;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  color: #65C0AA;
}

.tag {
  border-radius: 20px;
  padding: 5px;
  font-size: 10px;
  color: #FFFFFF;
}

.editorial {
  background-color: #45ABEA;
}

.goals {
  background-color: #9C72E4;
}

.recruiting {
  background-color: #64C0A9;
}

.mobile {
  background-color: #F29E33;
}

.website {
  background-color: #D863A1;
}

.sales {
  background-color: #B0C926;
}

.tasks .container {
  padding-bottom: 5%;
} */