* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #F6F8F9;
}

header {
  background-color: #FFFFFF;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 10%;
}

header .title {
  display: inline;
  margin-left: 10px;
  font-weight: 700;
}

.container {
  width: 85%;
  margin: auto;
}

.buttons, .tasks {
  background-color: #FFFFFF;
  width: 80%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

main button {
  margin-top: 10px;
  margin-bottom: 10px;
}

main button .clickable {
  background-color: #47ADF1;
  border: none;
  color: #FFFFFF;
}

main h3 {
  padding-top: 3%;
}

.container p {
  padding-bottom: 1%;
}

.check {
  display: inline;
  border 1px solid green;
  padding: 5px;
  border-radius: 10px;
}

.tag {
  border-radius: 20px;
  padding: 5px;
  font-size: 10px;
  color: #FFFFFF;
}

.editorial {
  background-color: #45ABEA;
}

.goals {
  background-color: #9C72E4;
}

.recruiting {
  background-color: #64C0A9;
}

.mobile {
  background-color: #F29E33;
}

.website {
  background-color: #D863A1;
}

.sales {
  background-color: #B0C926;
}

.tasks .container {
  padding-bottom: 5%;
}